<div class="footer-container">
    <div class="footer-content">
        <div class="footer-section">
            <div class="footer-logo">
                <h2>Escola Estadual Dr. João Beraldo</h2>
            </div>
            <p>Educação de qualidade formando cidadãos para o futuro.</p>
            <div class="social-links">
                <a href="https://www.facebook.com/share/1GrYbrPEvJ/" aria-label="Facebook" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/escolajoaoberaldo?igsh=MXgzZnF2ZGUzYmpxcA==" aria-label="Instagram"
                    target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://youtube.com/@joaoberaldocarloschagas?si=Pt0izcWRYeQcOQGR" aria-label="YouTube"
                    target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="footer-section">
            <h3>Horário de Atendimento</h3>
            <ul class="footer-list">
                <li><strong>Secretaria: 7h às 22h </strong></li>
                <li><strong>Aulas: 7h às 22h</strong></li>
                <li>Segunda a Sexta-feira</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contato</h3>
            <ul class="footer-list contact-info">
                <li><i class="fas fa-phone"></i><span>(33) 99870-1618</span></li>
                <li><i class="fas fa-envelope"></i><span>escola.146579.secretaria@educacao.mg.gov.br</span></li>
                <li><i class="fas fa-map-marker-alt"></i><span>Avenida Gabriel Passos, 393, Centro - Carlos
                        Chagas/MG</span></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Escola Estadual Dr. João Beraldo</p>
    </div>
</div>